<div class="card text-white text-center">
  <%= image_tag 'cake/cake_5.jpeg', size: '380', class: "card-img" %>
  <div class="card-img-overlay">
    <h1 class="display-3 font-weight-bold">ようこそ、ながのCAKEへ！</h1>
    <h5 class="font-weight-bold">このサイトは、ケーキ販売のECサイトになります。
      会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</h5>
  </div>
</div>


<div class='container mt-2'>
  <div class='row'>
    <div class-"col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mb-2">新着商品</h2>
      <div class="row">
        <% @items.each do |item| %>
	        <div class="col-md-3">
		        <%= link_to item_path(item.id) do %>
		         <%= image_tag item.get_image, size: '200x120' %><br>
		        <% end %>
		        <div class="text-left"><%= item.name %></div>
		        <div class="text-left">¥<%= item.without_tax_price.to_s(:delimited, delimiter: ',') %></div>
		      </div>
	      <% end %>
	      <div class='col-md-12 mt-4'>
	        <p class="text-right"><%= link_to "全ての商品を見る>", items_path %></p>
	      </div>
      </div>
    </div>
  </div>
</div>