<div class="container">
  <div class="row">
    <h2><%= @customer.name %>さんの会員詳細</h2>
      <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th> 会員ID <%= @customer.id %></th>
            </tr>

<<<<<<< HEAD
            <tr>
              <th> 氏名 <%= @customer.last_name %> <%= @customer.first_name %></th>
            </tr>

            <tr>
              <th> フリガナ <%= @customer.last_name_kana %> <%= @customer.first_name_kana %></th>
            </tr>
=======
              <th> 氏名 <%= @customer.last_name %><%= @customer.first_name %></th>

              <th> フリガナ <%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
>>>>>>> origin/develop

            <tr>
              <th> 郵便番号 <%= @customer.post_code %></th>
            </tr>

            <tr>
              <th> 住所 <%= @customer.address %></th>
            </tr>

            <tr>
              <th> 電話番号 <%= @customer.phone_number %></th>
            </tr>

            <tr>
              <th> メールアドレス <%= @customer.email %></th>
            </te>

<<<<<<< HEAD
            <tr>
              <th> 会員ステータス <%= @customer.is_withdrawal %></th>
            </tr>

            <tr>
              <th><%= link_to "編集する", edit_admin_customer_path(@customer.id), class:'btn btn-success' %></th>
    |
              <th><%= link_to "注文履歴一覧を見る", admin_orders_path(@customer.id), class:'btn btn-primary' %></th>
=======
              <th> 会員ステータス <%= @customer.is_withdrawal ? "有効" : "退会" %></th>

              <th><%= link_to "編集する", edit_admin_customer_path(@customer) %></th>
    |
              <th><%= link_to "注文履歴一覧を見る", admin_orders_path %></th>
>>>>>>> origin/develop
            </tr>
          </thead>
        </table>
  </div>
</div>