<div class="container">
<h5 class="table-secondary d-inline-flex pl-4 pr-4 m-4 ml-5">注文履歴一覧</h5>
<div class='row mx-5'>
<div class="col-12 px-sm-0 offset-sm-0">

<table class="table">
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </tr>

  <% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
    <td><%= order.customer.name %></td>
    <td><%= order.order_items.quantity %></td>
    <td><%= order.status %></td>
  </tr>
<% end %>
</table>

<%= paginate @orders %>