<h2>注文履歴詳細</h2>

<%= form_with model: @order, url:admin_order_path(@customer), local:true do |f| %>
<table class="table">
  <tr>
    <th>購入者</th>
    <td><%= link_to @customer.name, admin_customer_path(current_customer) %></td>
  </tr>

  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>

  <tr>
    <th>配送先</th>
    <td><%= @customer.address %><td>
  </tr>

  <tr>
    <th>支払い方法</th>
    <td><%= f.collection_select(:payment_method, @orders, :payment_method, :name) %><td>
  </tr>

  <tr>
    <th>注文ステータス</th>
    <td><%= f.collection_select(:status, @orders, :status, :name) %><td>
    <th><%= f.submit "更新",class: "btn btn-success" %></th>
  </tr>
  <% end %>
</table>


<table class="table">
  <tr>
    <th>商品ID</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th>製作ステータス</th>
  </tr>

<% @order_items.each do |order_item| %>
<% @total = @total + subtotal %>
  <tr>
    <td><%= order_item.name %></td>
    <td><%= order_item.price %></td>
    <td><%= order_item.quantity %></td>
    <td><%= @total %></td>
<% end %>
    <%= form_with model: @order_items, url:admin_order_detail_path(@customer), local:true do |f| %>
    <td><%= f.collection_select(:order_id, @order_items, :making_status, :name) %></td>
    <th><%= f.submit "更新",class: "btn btn-success" %></th>
  </tr>
<% end %>
</table>

<table class="table">
  <tr>
    <th>商品合計</th>
    <td><%= @totals %>円<td>
  </tr>

  <tr>
    <th>送料</th>
    <td><%= @shipping_fee %>円<td>
  </tr>

  <tr>
    <th>請求金額合計</th>
    <td><%= @totals + @shipping_fee %>円<td>
  </tr>
</table>
