<div class="container">
<h2>注文履歴詳細</h2>

 <div class="row">
  <div class="col-xs-12">
    <table class="table table-borderless">
     <tr>
      <th>購入者</th>
      <th><%= link_to @order.customer.full_name, admin_customer_path %></th>
     </tr>
     <tr>
      <th>注文日</th>
      <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
     </tr>
     <tr>
      <th>配送先</th>
      <th><%= @order.customer.address %></th>
     </tr>
     <tr>
      <th>支払い方法</th>
      <th><%= @order.payment_method %></th>
     </tr>
     <tr>
      <th>注文ステータス</th>
　    <%= form_with model: @order, url:admin_order_path, local:true do |f| %>
      <th>
        <%= f.select :status, [['wait_payment',0],['confirm_payment',1],['making',2],['preparing_ship',3],['finish_prepare',4]], selected: Order.statuses[@order.status] %>
        <%= f.submit "更新",class: "btn btn-success" %>
　      <% end %>
　    </th>
     </tr>
    </table>
   </div>

<div class="row">
  <div class="col-xs-4">
    <table class="table">
     <tr>
      <th>商品ID</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
     </tr>

     <% @order_items.each do |order_item| %>
     <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.item.add_tax_sales_price %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.item.add_tax_sales_price*order_item.quantity %></td>
      <%= form_with model: order_item, url:admin_orders_detail_path(order_item), local:true do |f| %>
      <td><%= f.select :making_status, [['impossible_manufacture',0],['waiting_manufacture',1],['manufacturing',2],['finish',3]], selected: OrderItem.making_statuses[order_item.making_status] %></td>
      <th><%= f.submit "更新",class: "btn btn-success" %></th>
     </tr>
     <% end %>
     <% end %>
    </table>
  </div>

  <div class="col-xs-6 col-md-offset-2">
    <table class="table table-borderless">
     <tr>
      <th>商品合計</th>
      <th><%= @order.total_price %>円</th>
     </tr>

     <tr>
      <th>送料</th>
      <th><%= @shipping_fee %>円</th>
     </tr>
     <tr>
      <th>請求金額合計</th>
      <th><%= @order.total_price + @shipping_fee %>円</th>
     </tr>
    </table>
  </div>
</div>