<h2>ジャンル一覧・追加</h2>

<%= form_with model: @genre, url:admin_genres_path, local:true do |f| %>
<table class="table">
  <tr>
    <th>ジャンル名</th>
    <th><%= f.text_field :name %></th>
    <th><%= f.submit "新規登録",class: "btn btn-success" %></th>
  </tr>
</table>
<% end %>

 
  <table class="table">
   <thead>
     <th>ジャンル</th>
   </thead>
   
   <tbody>
    <% @genres.each do |genre| %>
    <td><%= genre.name %></td>
    <th><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %></th>
   </tbody>
   <% end %>
  </table>
  
 