<h2>配送先編集</h2>

<div class="container">
<div class="row">

<%= form_with model: @addresses do |f| %>
<table class="table">
  <tr>
    <th> 郵便番号(ハイフンなし) <%= f.text_field :post_code %></th>
  </tr>

   <tr>
     <th> 住所 <%= f.text_field :address, size: 40 %></th>
   </tr>

   <tr>
    <th> 宛名 <%= f.text_field :name %></th>
   </tr>

   <tr>
<<<<<<< HEAD
    <th><%= f.submit "変更内容を保存", class: 'btn btn-success' %></th>
=======
    <th><%= f.submit "変更内容を保存", class: "btn btn-success"%></th>
>>>>>>> origin/develop
  </tr>
</table>
<% end %>