<div class='container'>
 <div class='row'>
   <h2 class="font-weight-bold">商品一覧(全<%= @items.count %>件)</h2>
   <div class="row">
     <% @items.each do |item| %>
	    <div class="col-md-3">
		  <%= link_to item_path(item.id) do %>
		    <%= image_tag item.get_image, size: '200x120' %><br>
		  <% end %>
		  <div class="text-left"><%= item.name %></div>
		  <div class="text-left">¥<%= item.without_tax_price.to_s(:delimited, delimiter: ',') %></div>
		</div>
	 <% end %>
   </div>
 </div>

 <div class="row">
 	<div class="px-5 px-sm-0 mx-auto"><%= paginate @items %></div>
 </div>
</div>